<div class="col-10 offset-1 about">
  <h1>About Flushy</h1>

<p>Flush was built by <a target="_blank" href="https://github.com/lawrencejw22">Justin</a>. He is trying to pursue a web development career.
  </p>
  <br />
  <p>Justin has experience as a cyber security specialist with over three years supporting network and system security in military environments.
  He is a graduate of VCU and a veteran with eleven years of combined service in the US Army and National Guard. Currently a student at the University of Richmond and Firehose Project web development program.
</p>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Justin Lawrence</h2>
      <br />
      <p>
        After many years in cyber security, Justin is pursuing a career in web development.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />