<h2>
  <span>FLUSHY / No. <%= @quote.id %></span>
  Here are the <u>quotes</u> to remember!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br /